
<div class="welcome-directions">Login to Continue</div>

    <%= form_for @user, url: signin_path, method: :post do |f| %>
    <div class="form-group login-form">
        <%= f.text_field :email, placeholder: "Email",  class:"form-control login-input"  %>
        <%= f.password_field :password, placeholder: "Password", class:"form-control login-input" %>
        <%= f.submit 'Sign In',  class:"btn-default login-btn" %>
    </div>
    
    <% end %>
    <%= button_to "Log in with Google", "/auth/google_oauth2",  class:"omni-btn btn-default"%> 
<%= link_to "Create New User", new_user_path, class: "ref-link" %>

