<h1>Welcome to the Foreman App</h1>

<h2 style="text-align:center;">Login to continue</h2>
<%= form_for @user, url: signin_path, method: :post do |f| %>
    <%= f.text_field :email, placeholder: "Email"  %> <br><br>
    <%= f.password_field :password, placeholder: "Password"  %><br><br>
    <%= f.submit 'Sign In' %>
    <%= error_message(@user) unless error_message(@user).blank? %>
<% end %>

<br>
<%= button_to "Log in with Google", "/auth/google_oauth2"%>
<%= link_to "Create New User", new_user_path%>