<div  id = "form">
    <h2>Edit Task</h2>
    <form action="/task/edit/<%=@task.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <table>
            <tr>
                <th>Code</th>
                <th>Description</th>
            </tr>
            <tr>  
                <td><input type="input" name="task[code]" value=<%=@task.code%>></td> 
                <td><input type="input" name="task[name]" value="<%=@task.name%>"></td>
            </tr>
        </table>
        <input type="submit" value="Update">
        <input type="hidden" name="jobsite_id" value=<%=@jobsite.id%>>
        <input type="hidden" name="task_id" value=<%=@task.id%>>
    </form>
</div>