<% if sect[:collection].size > 0 %>
    <table class="table table-hover">
        <thead>
            <tr class="tbl-header">
                <th></th>
                <% sect[:stationary_headers].map do |hdr| %>
                    <th><%= hdr %></th>
                <% end %>

                <% if !special_views.include?(view_by) %>
                    <% sect[:index_headers].map do |hdr| %>
                        <th><%= hdr %></th>
                    <% end %>

                    <% if current_section == "Jobs" %>
                        <% view_by_header[:by_areas].each do |code| %>
                            <th><%=code%></th>
                        <% end %>
                    <% end %>
                <% else %>
                    <% view_by_header[view_by.to_sym].map do |hdr| %>
                            <td><%= hdr %></td>
                    <% end %>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <%# Data for the Table %>
            <% sect[:collection].each do |item| %>
                <tr>
                    <td>
                        <%= edit_table ? edit_item_link(item) : '' %>
                    </td>

                    <% sect[:stationary_info].map do |info| %>
                        <td><%= current_section == "Employees" ? item.full_name : item[info] %></td>
                    <% end %>

                    <% if !special_views.include?(view_by) %>

                        <% sect[:index_info].map do |info| %>
                            <td><%= current_section == "Employees" ? item.title : item[info] %></td>
                        <% end %>

                        <% if current_section == "Jobs" %>
                            <% view_by_header[:by_areas].each do |code| %>
                                <th><%= mark_area(item, code)%></th>
                            <% end %>
                        <% end %>
                        
                    <% else %>
                        <% view_by_header[view_by.to_sym].map do |info| %>
                            <td>-</td>
                        <% end %>
                    <% end %>

                    <td></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>


