<% if collection.size > 0 %>
    <table class="table table-hover">
        <thead>
            <tr class="tbl-header">
                <th style="text-align: center;" width=20px></th>
                <% case control %>
                <% when'jobs' %>
                    <th style="text-align: left;" width=40px>Job#</th>
                    <th style="text-align: left;" width=200px;>Job Name</th>

                    <%= content_tag(:th, "Customer") unless !customer && special_views.include?(view_by) %>

                    <% if job_areas %>
                        <% @jobsite.site_areas.each do |a| %>
                            <th style="text-align: center;" data-toggle="tooltip" data-placement="top" title=<%= a.name %> ><%= a.code %></th>
                        <% end %>
                    <% end %>

                <% when 'employees', 'jobsite_employees'  %>
                    <th style="text-align: left;" width=80px>Employee (Name)</th>
                    <%= content_tag(:th, "Title") unless special_views.include?(view_by) %>
                <% end %>

                    <% case view_by %>
                    <% when 'by_hours' %>
                        <th>REG</th>
                        <th>OT</th>
                        <th>DT</th>
                        <th>Total</th>
                    <% when 'by_jobs' %>
                        <% @jobsite.jobs.each do |job| %>
                            <td><%= job.job_number %></td>
                        <% end %>              
                    <% when 'by_employees' %>
                        <% Title.all.each do |t| %>
                            <th data-toggle="tooltip" data-placement="top" title=<%= t.title %> ><%= t.title[0] %></th>
                        <% end %>
                    <% when 'by_areas' %> 
                        <% @jobsite.site_areas.each do |a| %>
                            <th style="text-align: center;" width=10px><%= a.code %></th>
                        <% end %>
                    <% end %>
                    <th></th>
            </tr>
        </thead>
        <tbody>
            <% collection.active.each do |item| %>
                <tr>
                    <td style="text-align: center;" width=20px>
                        <%= !!editable ? edit_item_link(item, show) : '' %>
                    </td>

                    <% case control %>
                    <% when'jobs' %>
                        <td style="text-align: left;" width=40px><%= item.job_number %></td>
                        <td style="text-align: left;" width=200px;><%= item.name %></td>
                        <%= content_tag(:td, item.customer) unless !customer && special_views.include?(view_by) %>
                        <% if job_areas  %>
                            <% @jobsite.site_areas.each do |a| %>
                                <td style="text-align: center;" width=10px><%= item.areas.include?(a) ? 'X' : '' %></td>
                            <% end %>
                        <% end %>
                    <% when'employees','jobsite_employees' %>
                        <td style="text-align: left;" width=200px><%= item.full_name %></td>
                        <%= content_tag(:th, item.title) unless special_views.include?(view_by) %>
                    <% end %>

                    <% case view_by %>
                    <% when 'by_hours' %>
                        <td>0</td>
                        <td>-</td>
                        <td>-</td>
                        <td>0.00</td>
                    <% when 'by_jobs' %>
                        <% @jobsite.jobs.each do |job| %>
                            <td>-</td>
                        <% end %>
                    <% when 'by_employees' %>
                        <% Title.all.each do |t| %>
                            <td>-</td>
                        <% end %>
                    <% when 'by_areas' %>
                        <% @jobsite.site_areas.each do |a| %>
                            <td style="text-align: center;" width=10px>-</td>
                        <% end %>
                    <% end %>
                    <td></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>


