<div>
    <h2 id="form_header"><%=form_title%> Jobsite </h2>
    <%= form_with model: form_job, url: form_link do |f| %>
        <%= f.hidden_field :jobsite_id, value: @jobsite.id %>
        <div class='container-fluid'>
            <div class="row">
                <%= f.label :name %>
                <%= f.text_field :name%>
            </div>
            <div class="row">
                <%= f.label :city %>
                <%= f.text_field :city %>
            </div>
            <div class="row">
                <%= f.label :state %>
                <%= f.text_field :state %>
            </div>
        </div>
        <%= f.submit %>
    <% end %>
</div>