<div id = "jobsite_form">
    <h2 id="form_header">Jobs<button id="form_header_btn"><%= link_to "#{@jobsite.jobs.size == 0 ? 'Add' : 'Add/Edit'}", new_jobsite_path %></button></h2> 

    <% if @jobsite.jobs.size > 0%>

    <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align: left;" >Job No.</th>
                <th style="text-align: left;" >Job Name</th>
                <th style="text-align: left;">Customer</th>

                    <% @jobsite.site_areas.each do |area| %>
                        <th style="text-align: center;" ><%=area.code%></th>
                    <%end%>
            </tr>
        </thead>
        <tbody>
        <% @jobsite.jobs.sort_by{|j| j.job_number}.map do |job| %>
            <tr>
                <td style="text-align: left;" width=60px ><%=job.job_number%></td>
                <td style="text-align: left;" width=200px ><%=job.name%></td>
                <td style="text-align: left;" width=250px ><%=job.customer%></td>
                <% @jobsite.site_areas.each do |area| %>
                    <td style="text-align: center;" width=20px ><%='X' if job.areas.include?(area)%></td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%end%>
</div>