
<h2 id="sub_header"><%=@jobsite.name%>
    <button class="subheader_button"><%= link_to 'My Sites', jobsites_path %></button>
</h2>
    <div class="row">
        <div class="col-md-2 jobsite_form">   
            <h2 id="form_header"> <%= link_to'Jobs', jobsite_jobs_path(@jobsite) %></h2> 
            <%= render_jobs_table(customers: false, areas: false) %>
        </div>

        <div class="col-md-5 jobsite_form">
            <h2 id="form_header"> <%= link_to'Employees', jobsite_employees_path(@jobsite) %></h2> 
            <% if @jobsite.employees.size > 0%>
                <%= render partial: "employees/site_employees", locals: {jobsite: @jobsite, view_by: 'none', editable: false} %>
            <% end %>
        </div>

        <div class="col-md-2 jobsite_form">
            <%= render "time_entries/day_select" %>
        </div>
    </div>
        <!--<div  class="jobsite_form"  id="jobsite_form">
            <h2 id="form_header">Tasks <button id="form_header_btn"><a href='/jobsite/<%= @jobsite.id %>/tasks'>Add/Edit</a></button></h2>
            <ul style="text-align:left;">
                <% @jobsite.tasks.sort_by{|t| t.code}.each do |task| %>
                <li>[<%=task.code%>] <%=task.name%></li>
                <%end%>
            </ul>
        </div> -->
    
    
