
<div>
    <h2 id="form_header"><%=form_title%> </h2>
    <%= form_with model: form_job, url: form_link do |f| %>
        <%= f.hidden_field :jobsite_id, value: @jobsite.id %>
        <div class='container-fluid'>
            <div class="row">
                <%= f.label 'Job No.'%>
                <%= f.text_field :job_number%>
            </div>
            <div class="row">
                <%= f.label 'Name: ' %>
                <%= f.text_field :name %>
            </div>
            <div class="row">
                <%= f.label 'Customer: ' %>
                <%= f.text_field :customer %>
            </div>
        </div>
    <br>
        <% if !@jobsite.site_areas.nil? %>
            <div class='container-fluid'>
                <div class="row">
                    <div> 
                        <hr>
                        <strong><u>Select Job Areas</u></strong><br><br>
                        <%= f.fields_for :area do |a| %>
                            <%= a.collection_check_boxes :id, @jobsite.site_areas, :id, :code %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>

        <%= f.submit %>
    <% end %>
</div>
