<%= form_for Area.new, :url => jobsite_new_job_area_path do |area| %>     
    <div class='container-fluid center'>  
        <div class="form-group col-xs-2">
            <%= area.label 'Code', class: "form-label"%>
            <%= area.text_field :code,  class: "form-control", placeholder: "000" %>
        </div>
        <div class="form-group col-xs-4">
            <%= area.label 'Description', class: "form-label"%>
            <%= area.text_field :name,  class: "form-control", placeholder: "(e.g. First Floor)" %>
        </div>
    </div>
    <div  class="container-fluid center">
        <div class= "form-label"> Associated Jobs </div>
        
            <%= area.fields_for :jobs do |j| %>
            <div class="form-checkbox"> 
                <%= jobs_checkbox_columns(j) %>
            </div>
            <% end %>
    </div>
    <%= area.submit :class => 'edit-btn' %>
<% end %>  
