
        <%= f.hidden_field :jobsite_id, value: @jobsite.id %>
        <div class='container-fluid center'>
            <div class="form-group col-xs-2">
                <%= f.label 'Job No.', class: "form-label"%>
                <%= f.text_field :job_number,  class: "form-control", placeholder: "0000" %>
            </div>
            <div class="form-group col-xs-3">
                <%= f.label 'Job Name', class: "form-label"%>
                <%= f.text_field :name,  class: "form-control", placeholder: "Example Job" %>
            </div>
            <div class="form-group col-xs-4">
                <%= f.label 'Customer: ', class: "form-label" %>
                <%= f.text_field :customer,  class: "form-control", placeholder: "ABC Company"  %>
            </div>
        </div>
        <% if !@jobsite.site_areas.nil? %>
            <div  class="container-fluid center">
                <div class= "form-label"> Associated Areas </div>

                <%= f.fields_for :area do |a| %>
                <div class="form-checkbox"> 
                    <%= a.collection_check_boxes :id, @jobsite.site_areas, :id, :code do |b| %> 
                        <%= b.label { b.check_box(checked: area_included?(b.object)) + b.text } %>
                    <% end%>
                </div>
                <% end %>
            </div>
        <% end %>
        <%= f.submit :class => 'edit-btn sub-btn' %> 
