<div id="form">
    <h2 id="form_header">Delete Job<button id="form_header_btn"><a href="/jobsite/<%= @jobsite.id %>/jobs/new">Add Job</a></button></h2>
    <h4> Are you sure you want to delete this job? <br> All associated records for this job will be deleted </h4> <br>
    <form action="/jobsite/<%= @jobsite.id %>/jobs/delete/<%=@job.id%>%" method="post">
        <input type="hidden" name="_method" value="delete">
        <table>
            <tr>
                <th>Job No.</th>
                <th>Job Name</th>
                <th>Customer</th>
            </tr>
            <tr>
                <td><%= @job.job_number %></td> 
                <td><%= @job.name %></td> 
                <td><%= @job.customer %></td>
                <td><input type="hidden" name="job[id]" value=<%=@job.id%> ></td>
            </tr>
        </table><br><br>
        <input id="submit_button" type="submit" value="Delete Job">
    </form>
    <button><a href="/jobsite/<%= @jobsite.id %>/jobs/new">Cancel</a></button>
</div>
