<section style="display:inline-flex"> 
    <div id="form" style="width:70%">
        <h2 id="form_header">Edit Job<button id="form_header_btn"><a href="/jobsite/<%= @jobsite.id %>/jobs/new">Add Job</a></button></h2>
        <form action="/jobsite/<%=@jobsite.id%>/jobs/edit/<%=@job.id%>" method="POST">
            <input type="hidden" name="_method" value="patch">
            <table>
                <tr>
                    <th>Job No.</th>
                    <th>Job Name</th>
                    <th>Customer</th>
                    <th><%= 'Areas:  ' if @jobsite.site_areas.size > 0%></th>
                    <%@jobsite.site_areas.each do |area|%>
                        <th><%=area.code%></th>
                    <%end%>
                </tr>
                <tr>
                    <td><%=@job.job_number%></td>
                    <td><input type="text" name="job[name]" value="<%=@job.name%>"></td>
                    <td><input type="text" name="job[customer]" value="<%=@job.customer%>"></td>
                    <td></td>
                        <% @jobsite.site_areas.each do |area| %>
                        <td><input type="checkbox" name="areas[]" id="area_<%= area.id %> " value="<%= area.id %>" <%='checked' if @job.areas.include?(area)%>></td>
                        <% end %>
                </tr>
            </table>
            <br><br>
            <input id="submit_button"  type="submit" value="Update Job">
        </form>
    </div>
    <div id="form" style="width:25%">
        <h2>Add Area</h2>
        <form action="/jobsite/<%= @jobsite.id %>/jobs/new/area" method="POST">
            <input type="hidden" name="job_id" value=<%=@job.id.to_i%>>
            <label>Code: <input type="text" name="area[code]"  maxlength="3" required></label><br>
            <label>Name: <input type="text" name="area[name]" required></label>
            <input type="submit" value = "Add Area">
        </form>
    </div>
</section>