<div class="welcome-directions">Signup to Continue</div>
<%= form_with model: @user, html: {class: "text-center"} do |f| %>
    <div class="form-group login-form">
        <%= f.text_field :first_name, placeholder: "First Name", class:"form-control login-input" %>
        <%= f.text_field :last_name, placeholder: "Last Name", class:"form-control login-input"  %>
        <div class="form-checkbox login-box"><%= f.check_box :admin %> Admin? </div>

        <%= f.email_field :email, placeholder: "Email", class:"form-control login-input" %>
        <%= f.password_field :password, placeholder: "Password", class:"form-control login-input" %> 
        <%= f.submit 'Sign Up', class:"btn-default login-btn" %>
    </div>
<% end %>

<%=  button_to "Log in with Google", "/auth/google_oauth2",  class: "omni-btn btn-default" %>

<%= link_to 'Log In Existing User', signin_path, class: "ref-link" %>

