<h1>Welcome to your Jobsite Log</h1>
<h2 style="text-align:center;">Signup to continue</h2>
<%= form_with model: @user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %> <br><br>

    <%= f.label :email %>
    <%= f.email_field :email %> 
    <%= f.check_box :admin %><%= f.label :admin %>
    <br><br>


    <%= f.label :password %>
    <%= f.password_field :password %> <br><br>

    <%= signup_errors(@user) unless signup_errors(@user).blank? %><br><br>

    <%= f.submit %>
<% end %>
<br>
<%= button_to "Log in with Google", "/auth/google_oauth2"%>

