<!-- <h2 id="sub_header"> 
    My Current Jobsites 
    <button style="float:right;">
        <%= link_to 'Add Jobsite', new_jobsite_path, class: "btn btn-default btn-sm" %>
    </button>
</h2>

<ul style="display:inline;">
    <% @jobsites.each do |jobsite| %>
        <li>
            <div id="jobsite_card">
            
            <h3><a href=<%= jobsite_path(jobsite.id) %>><%= jobsite.name %></a></h3>
            <p><%= jobsite.jobs.count %> Current Jobs </p>
            <p><%= jobsite.employees.count %> Site Employees </p>
            </div>
        </li>
    <% end %>
</ul> -->