
<div id="display_list">
    <input type="hidden" value=<%= @sub_days.to_i %> name="weekday">
    <input type="hidden" id="day_index" value=<%=@sub_days.to_i%>>
    
    <nav id="day_navbar" style="display:inline-flex;">
        <h2 id="page_title">Time Entry</h2>
            <div id="day_class_reset">
            <% count = 6 %> 
            <% while count > -1 do %>
                <button id="day_button <%= count %>" value=<%= count %> onclick="what_day_is_it(this)" 
                <% if (count).to_i == @sub_days.to_i %>
                    class='current_day'
                 <% else %>
                    class='another_day'
                 <% end %>>
                <%#= 'current_day' unless (count + 1).to_i != @sub_days.to_i else 'another_day'%>
                <%= (@week_ending - (count).days).to_date.strftime("%^A")[0..2] %></button>
                <% count -= 1 %> 
            <% end %>
            </div>
    </nav>

    <% if !@sub_days.nil? %>
    <div id="form_time">
        <form onkeydown="return !(event.keyCode==13)" action="/jobsite/<%=@jobsite.id%>/time_entry/new" method="post">
            <input type="hidden" value=<%=@week_ending%> name="week_ending" id="week_ending">
            <div>
                    <label>Workdate: 
                    <input id="workdate" type="text" name="workdate" value="<%= @workdate unless @workdate.nil? %>" required readonly></label>
                    <label style="float:right;">Week Ending: <%= @week_ending unless @week_ending.nil? %></label>
            </div>
            <br>
            <table id="daily_entry">
                <thead>
                <tr id="table_header">
                    <th id="employee_title">Title</th>
                    <th id="employee_name">Name</th>
                    <th id="blank_space"></th>
                    <th class="job">Job</th>
                    <th class="job">Area</th>
                    <th class="job">Task</th>
                    <th id="blank_space"></th>
                    <th class="hours">REG</th>
                    <th class="hours">OT</th>
                    <th class="hours">DT</th>
                    <th id="blank_space"></th>
                    <th class="hours">Total</th>
                </tr>
                </thead>
                <tbody>
                    <% @jobsite.employees.sort_by{|e| e.last_name}.each do |employee| %>
                    <tr id="employee_entry">
                        <input type="hidden" name="entry[][employee][jobsite_id]" value="<%= @jobsite.id %>">
                        <input type="hidden" name="entry[][employee][employee_id]" value="<%= employee.id %>">
                        <td id="employee_title"><label class="hide_title"><%= Title.find(employee.title_id).title[0].upcase %></label></td>
                        <td id="employee_name" width=250px><label class="hide_name"><%= employee.full_name%></label></td>
                        <td id="button_space"><button type="button" class="add_job" id="button_space" onclick="my_row(this)">+</button></td>
                        <td id="employee_job" class="job">
                            <select class="dropdown" class="job_select" name="entry[][employee][job_id]">
                                <option value=""></option>
                                <%@jobsite.jobs.sort_by{|j| j.job_number}.each do |job|%>                    
                                    <option value=<%=job.id%>><%=job.job_number%></option>
                                <%end%>
                                <option value='OUT'>OUT</option>
                                <option value='TERM'>TERM</option>
                            </select></td>
                        <td id="employee_area" class="job">
                            <select class="dropdown" class="area_select" name="entry[][employee][area_id]">
                                <option value=""></option>
                                <%@jobsite.site_areas.sort_by{|a| a.code}.each do |area|%>
                                    <option value=<%=area.id%>><%=area.code%></option>
                                <%end%>
                            </select></td>
                        <td id="employee_task" class="job">
                            <select class="dropdown" class="task_select" name="entry[][employee][task_id]">
                                <option value=""></option>
                                <%@jobsite.tasks.sort_by{|a| a.code}.each do |task|%>                    
                                    <option value=<%=task.id%>><%=task.code%></option>
                                <%end%>
                            </select></td>
                        <td id="blank_space"></td>
                        <td class="hours">
                            <input id="hour_input" style="text-align:center;" class="reg" type="number" name="entry[][hours][reg]" step="0.25" onchange="calculate_hours()" value="">
                        </td>
                        <td class="hours">
                            <input id="hour_input" style="text-align:center;" class="ot" type="number" name="entry[][hours][ot]" step="0.25" onchange="calculate_hours()" value="" width=>
                        </td>
                        <td class="hours">
                            <input id="hour_input" style="text-align:center;" class="dt" type="number" name="entry[][hours][dt]" step="0.25" onchange="calculate_hours()" value="">
                        </td>
                        <td id="blank_space"></td>
                        <td class="employee_total" style="text-align:center;"></td>
                    </tr>
                    <% end %>
                </tbody>
                <tfoot>              
                    <tr id="table_footer"  style="text-align:center;">
                        <th id="employee_title"></th>
                        <th id="employee_name"></th>
                        <th id="blank_space"></th>
                        <th class="job"></th>
                        <th class="job"></th>
                        <th class="job"></th>
                        <th id="blank_space">Total: </th>
                        <th class="hours" id="reg_total"></th>
                        <th class="hours" id="ot_total"></th>
                        <th class="hours" id="dt_total"></th>
                        <th id="blank_space"></th>
                        <th id="daily_total"></th>
                    </tr>
                </tfoot>  
            </table>
            <input id="submit_button_time" type="submit" value="Post Time">
        </form>
    </div>
    <% end %>
    <%= @message unless @message.blank? || @message.nil? %>
</div>
