    <div class="form-header">Setup Jobsite
        <button class="close-btn">
            <%= link_to(content_tag(:span,'', class:"glyphicon glyphicon-remove"), admin_jobsites_path) %>
        </button>
    </div>
    <div class="form-dbl">
        <div class="form-sect main">
            <%= form_with model: @jobsite, url: admin_jobsites_path do |f| %>
                <%= render partial: 'form', locals: {jobsite: @jobsite, f: f} %>
            <% end %>
        </div>
        <div class="form-sect side">
        <div class="form-label">Jobsite Access</div>
            <%= render partial: 'admin/user_jobsites/curr_users', locals: {jobsite: @jobsite} %>
            <%= render partial: 'admin/user_jobsites/form', locals: {jobsite: @jobsite} %>
        </div>
    </div>