<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Foreman App</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'reset'%>
      <%= stylesheet_link_tag 'header'%>
      <%= stylesheet_link_tag 'main_app'%>
      
  </head>

  <body>
  
    <header>
       <%= render partial: "layouts/header"%>
    </header>
    
    <div class="container-fluid wrapper">

        <div class="jobsite-name"><%= @jobsite.name %></div> 

        <%# Current Section %>
        <div class="sect-bkgrnd">
          <div class="sect-header"> <%= current_section %>
            <button class="sect-btn"><%= current_section_link(current_section) %></button>
          </div> 
            <%= render partial: "layouts/flash"%>
            <div class='nav'>
                <%= render partial: "jobsites/nav_menu",locals: {nav: section_control[current_section.to_sym][:sub_nav] } %>
            </div>
            <div class="center">

            <%= render partial: "jobsites/collection_table",locals: {sect: section_control[current_section.to_sym] } %>

            </div>
            <%= yield %>
        </div>

        <% available_sections.each do |sect| %>
            <% if sect != current_section %>
              <div class="sect-bkgrnd">
                <div class="sect-header"> <%= sect %>
                  <button class="sect-btn"><%= current_section_link(sect) %></button>
                </div>
              </div>
            <% end %>
        <% end %>

    </div>

  <script> src="packs/application"</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>